@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

/* My variables are here!*/
$p-font:	'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
$header-font:	'Raleway', 'Helvetica Neue', 'Helvetica', sans-serif;
$header-backgrnd-clr:	#FA5A0F;
$footer-backgrnd-clr:	#FC892F;

body { 
	font-family: $p-font;
	font-size: 200%;
	font-weight: 300;
}

/* Extends/Inheritance, nested*/
a { 
	text-decoration: none; 
	color: #0000AA;

	hover{ 
		color: #0000EE;
	}
		a:focus {
		@extends hover;
	}
}

/* Extends/Inheritance: h2 & h3*/
/* Expression: increased h1 size in relation to body size*/
h1 {
	font-family: $header-font;
	font-size: (200% x (1/3));
	margin: 0;
}

h2 {
	@extends h1;
	color: #505050;
	font-size: 150%;
}

h3 { 
	@extends h1;
	font-size: 125%;
	color: #505050;
}

header {
	padding: 1em;
	background-color: $header-backgrnd-clr;
	border-bottom: 5px #EA4A00;
	color: #FFFFFF;

	p {
		font-size: 120%;
		color: #EEEEEE;
		margin: 0;
	}
}

.container-fluid {
	margin: 20px, 20px, 20px, 30%;
}

/* Nesting example*/
nav {
	$nav-color: #ce4dd6;
	position: absolute;
	top: 10px;
	right: 10px;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style-type: none;
		display: inline-block;
		margin-right: 1em;
	}

	a {
		color: #55E;
	}

	/* function used here: changed color*/
	a:hover, a:focus {
		color: lighten($nav-color, 20%);
	}
}

/* Extends/Inheritance example*/
#page {
	padding: 2em;	
}

#menu {
	@extends #page;
	background-color: rgba(207, 205, 140, 0.5);

	dt {
		font-weight: 400;
	}

	dd {
		font-style: italic;
		font-size: 16px;
		margin-left: 1em;
		margin-bottom: 1em;
	}
}

#about {
	@extends #page;
}

footer {
	background-color: $footer-backgrnd-clr;
	border-top: 5px #EC791F;
	font-size: 80%;
	text-align: right;
	padding: 1em;
}


@media screen and (max-width: 991px) {
	body {
		background-image: none;
		font-size: 16px;
	}

	main {
		margin: 0px;
	}

	.container-fluid {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	nav {
		position: initial;
	}

	header p {
		display: none;
	}
}